* {
  font-family: Bungee;
}
body {
  background-image: url("./Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
}

.contact-container h1{
  color: #ffffff;
}

.contact-container p {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  width: 100%;
  height: 80%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.form-group {
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
}

input,
textarea {
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ebebeb;
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  opacity: 60%;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
  border-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.error{
  color: rgb(255, 255, 255);
}

textarea {
  height: 120px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color: #148f77;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: -25px;
}

.header-container h1 {
  display: flex;
  color: #296d5f;
  font-size: 20px;
}

.header-container a{
  text-decoration: none;
  padding: 8px;
  color: #1abc9c;
}

.header-container a:hover{
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}

.social-links {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #123b27;
  opacity: 70%;
}

.social-links img {
  height: 50px;
  filter: invert(1)
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
  color: #000000;
}

.social-links a:hover {
  color: #1abc9c;
}

.about {
  display: flex;
  align-items: center;
  height: 100vh;
}

.footer {
  position: fixed absolute;
  bottom: 0;
  width: 100%;
}

.profile-pic {
  margin-right: 60px;
  width: 20%;
}

.bio {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -15%;
  width: 30%;
  color: #ffffff;
  font-size: 20px;
}

.project-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.projectwhole{
  height: 100vh;
}

.resumewhole{
  height: 100vh;
}

.project {
  width: calc(100% / 3 - 30px);
  margin: 8px;
  color: #ffffff;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.project img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  
}

.project h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  color: #ffffff;
}

.projectbio{
  color: #ffffff;
  margin-top: 1%;
  text-align: center;
}

.proficiencies {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.proficiencies > div {
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  margin: 10px 0;
}

.proficiencies > div > h3 {
  margin-right: 20px;
}

.proficiencies > div > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.proficiencies > div > ul > li {
  list-style: none;
  padding: 0;
  margin: 0px;
  text-align: center;
}

.download{
  text-align: center;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}

.download:hover{
  text-align: center;
  text-decoration: none;
  padding: 8px;
  color: #ffffff;
}

.link{
  text-decoration: none;
  color: #ffffff;

}

.link:hover{
  text-decoration: none;
  padding: 8px;
  color: #ffffff;

}

.head{
  height: 80px;
  width: 80px;
  border-radius: 90px;
  border: #ffffff 3px solid;
}

.quote{
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #1abc9c;
  margin-left: auto;
}